<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятор доходов и расходов</title>
    <link rel="stylesheet" href="/css/calculator.css">
</head>
<body>

    <header>
        <div class="header-absolute">
            <h1 class="header-absolute-text">WorldwideToDo</h1>
        </div>

        <div class="header-content">
            <h1 class="header-content-text">Calculator</h1>
        </div>
    </header>


    
  <nav class="navbar">
    <ul>
      <li>
        <a href="index.html">
          <img src="/images/tasks.png" alt="Icon 1">
        </a>
      </li>
      <li>
        <a href="calculator.html">
          <img src="/images/calculator.png" alt="Icon 2">
        </a>
      </li>
      <li>
        <a href="diary.html">
          <img src="/images/note.png" alt="Icon 3">
        </a>
      </li>
      <li>
        <a href="motivs.html">
          <img src="/images/info-desk.png" alt="Icon 4">
        </a>
      </li>
      <li>
        <a href="about.html">
          <img src="/images/info-circle.png" alt="Icon 5">
        </a>
      </li>
    </ul>
  </nav>


<div class="container">

    <h1>Incomes</h1>

    <div class="section" id="income-section">
        
        <div class="input-group">
            <input type="text" id="income-description" placeholder="Описание" />
            <input type="number" id="income-amount" placeholder="Сумма" />
            <button onclick="addIncome()">Добавить</button>
        </div>
        <div id="income-list"></div>
    </div>

    <h1>Expenses</h1>

    <div class="section" id="expense-section">
        
        <div class="input-group">
            <input type="text" id="expense-description" placeholder="Описание" />
            <input type="number" id="expense-amount" placeholder="Сумма" />
            <button onclick="addExpense()">Добавить</button>
        </div>
        <div id="expense-list"></div>
    </div>

    <div class="section">
        <h2>Остаток</h2>
        <div class="result" id="balance">0</div>
    </div>
</div>

<script src="/js/calculator.js"></script>

</body>
</html>