<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дневник</title>
    <link rel="stylesheet" href="/css/diary.css">
</head>
<body>



    <header>
        <div class="header-absolute">
            <h1 class="header-absolute-text">WorldwideToDo</h1>
        </div>

        <div class="header-content">
            <h1 class="header-content-text">Diary</h1>
        </div>
    </header>


    <nav class="navbar">
        <ul>
          <li>
            <a href="index.html">
              <img src="/images/tasks.png" alt="Icon 1">
            </a>
          </li>
          <li>
            <a href="calculator.html">
              <img src="/images/calculator.png" alt="Icon 2">
            </a>
          </li>
          <li>
            <a href="diary.html">
              <img src="/images/note.png" alt="Icon 3">
            </a>
          </li>
          <li>
            <a href="motivs.html">
              <img src="/images/info-desk.png" alt="Icon 4">
            </a>
          </li>
          <li>
            <a href="about.html">
              <img src="/images/info-circle.png" alt="Icon 5">
            </a>
          </li>
        </ul>
      </nav>


<h1>Дневник</h1>

<div class="container">
    <div class="input-group">
        <input type="text" id="post-title" placeholder="Заголовок" />
    </div>
    <div class="input-group">
        <textarea id="post-description" placeholder="Описание" rows="4"></textarea>
    </div>
    <div class="input-group">
        <input type="url" id="post-image" placeholder="Ссылка на изображение" />
    </div>
    <div class="input-group">
        <input type="url" id="post-link" placeholder="Ссылка" />
    </div>
    <button onclick="addPost()">Добавить пост</button>
</div>

<div id="posts-container"></div>

<script src="/js/diary.js">
    
</script>

</body>
</html>