<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Менеджер задач</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <button id="navbtn" onclick="anyFunction()"></button>
            <div class="mob-nav-holder">
                <ul class="mobnav">
                    <li><a class="navLinks" href="calculator.html">Калькулятор</a></li>
                    <li><a class="navLinks" href="diary.html">Дневник</a></li>
                    <li><a href="https://t.me/worldwide_success2"><img class="chAva" src="/images/worldwide.png" alt="My Channel Img"></a></li>
                    <li><a class="navLinks" href="motivs.html">Мотивы</a></li>
                    <li><a class="navLinks" href="about.html">О приложение</a></li>
                </ul>
            </div>
        <ul class="navbar">
            <li><a class="navLinks" href="calculator.html">Калькулятор</a></li>
            <li><a class="navLinks" href="diary.html">Дневник</a></li>
            <li><a href="https://t.me/worldwide_success2"><img class="chAva" src="/images/worldwide.png" alt="My Channel Img"></a></li>
            <li><a class="navLinks" href="motivs.html">Мотивы</a></li>
            <li><a class="navLinks" href="about.html">О приложение</a></li>
        </ul>
    </header>

    <div class="container">
        <h1>Менеджер задач</h1>
        <input type="text" id="taskInput" placeholder="Введите задачу...">
        <label for="startTime">Время начала:</label>
        <input type="datetime-local" id="startTime">
        <label for="endTime">Время окончания:</label>
        <input type="datetime-local" id="endTime">
        
        <button id="addTaskBtn">Добавить задачу</button>
        <ul id="taskList"></ul>
    </div>

    <!-- Модальное окно -->
    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <p id="modalMessage"></p>
            <button id="confirmBtn">Подтвердить</button>
        </div>
    </div>

    <div id="result"></div>

    <script src="/js/main.js"></script>
</body>
</html>