<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swipe Animation</title>
    <link rel="stylesheet" href="/css/loading.css">
</head>
<body>
    <div id="container">
        <div id="warning">
            <p id="warn-desc">Если вы видите это
                сообщение, значит не получили данных о вас.
                Возможно вы не смогли зайти в профиль, или получить код.
                Пожалуйста, вернитесь на страницу аутентификации, и попробуйте
                пройти снова.
            </p> 
            <img src="/images/warning.png" alt="">
        </div>

        <div id="thanks">
            <img src="/images/hand.png" alt="hand" id="hand">
            <p>Спасибо, что пользуетесь моим приложением, так вы поддерживаете меня и мою работу.
                Не забывай поделиться с друзьями, ведь я стараюсь сделать лучше для каждого.
            </p>
        </div>

    </div> 

    <script src="/js/loading.js"></script>
</body>
</html>