<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Про Меня</title>
    <link rel="stylesheet" href="/css/motivs.css">
</head>
<body>

<div class="loading" id="loading">
    <h2>Загрузка...</h2>
</div>

<div class="container" id="content">

    <header>
        <div class="about-desc">
            <h1>Я Эрик, и я Frontend-разработчик</h1>
        <p>Также я создатель целой системы Worldwide и каналов Worldwide Success
        </br>Листай вниз и получишь все ответы на вопросы обо мне
        </p>
        </div>
    
        <div class="about-pic">
            <img id="me" src="/images/about-me.jpg" alt="Me:)">
        </div>
    </header>
    
    
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/TTN222SUy34" allowfullscreen></iframe>
    </div>

    <div id="about">
        <p>Всем читателям еще раз привет! Хотел бы кратко представиться. Меня зовут Эрик,
            и мне 18 лет. Моя история начинается с 2022 года. Культ саморазвития набирал
             бешеные обороты, и именно тогда можно сказать началось мое становление. 
             Я одновременно вёл канал, где показывал свои успехи и путь. 
             Вплоть до 20 ноября 2022 года я получал только теоретические знания и опыт,
              но не более. Однако даже этих знаний и опыта хватило, чтобы взять и начать 
              что-то делать. С 20 ноября 2022 и до сегодняшнего дня я занимался 
              программированием и подготовкой, а именно: создал второй канал (по причине 
              потери первого), собирал информацию о заработке и составлял портфолио.
              Если вы видите это значит я уже начал заниматься каналом, делать много контента
              и стремиться огромными шагами к успеху. Пока на этом все, остальное вы можете
              узнать у меня на каналах в Telegram, YouTube, TikTok. До новых встреч!)
       </p>
    </div>
    
    <a href="https://t.me/worldwide_success2" class="button">Перейти в Telegram</a>
</div>

<script src="/js/motivs.js"></script>

</body>
</html>