<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Про Меня</title>
    <link rel="stylesheet" href="/css/motivs.css">
</head>
<body>

<div class="loading" id="loading">
    <h2>Загрузка...</h2>
</div>

<div class="container" id="content">
    <h1>Про Меня</h1>
    <p>Привет! Меня зовут Эрик. Это моя страница.</p>
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/TTN222SUy34" allowfullscreen></iframe>
    </div>
    <p>Увидеть и узнать весь мой путь, вы можете перейдя в мой телеграмм канал:</p>
    <a href="https://t.me/worldwide_success2" class="button">Перейти в Telegram</a>
</div>

<script src="/js/motivs.js"></script>

</body>
</html>