<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Проверка кода</title>
    <link rel="stylesheet" href="/css/code.css">
</head>
<body>
    <div id="shadow"></div>

    <div class="holder">
        <div class="container">
            <h1>Инструкция, как пройти проверку:</h1>
        </div>
        <div class="container">
            <div class="check-code">
                <p>Чтобы пройти проверку, нужно для начала войти в аккаунт, нажав кнопку в самой нижней части экрана:
                    "Войти через Telegram". Далее по кнопке: "Перейти в бота", переходим в бота и выбираем команду:
                    "/check-sub". Бот проверит вашу подписку, и если вы подписаны на канал, он отправит вам код.
                </p>
                <div id="notes">
                    <img src="/images/lamp.png" alt="Lamp" id="lamp"><span id="note">Примечание: </span> <p>Код от бота действует
                        7 дней. Это сделанно для интересов канала и приложения, чтобы нельзя было обходить проверку.
                    </p>
                </div>
                <p>Полученный код вставляем в строку: "Введите код". Далее на кнопку: "Проверить код", если результат
                    успешен, то вас автоматический спустя 3 секунды после ответа, направит на основное приложение.
                    Если вы получили: "Введенный код недействителен", то для начала проверьте код, на отсутствие
                    пробелов и ошибок. Если и это не помогло, то проверьте актуальность кода, нажав в боте: "/check-sub",
                    повторно. 
                </p>
            </div>
            <div class="check-code">
                <h1>Проверка кода</h1>
                <div id="InpHolder">
                    <input type="text" id="codeInput" placeholder="Введите код">
                    <button id="checkButton" class="button">Проверить код</button>
                    <button id="redirectBot" class="button">Перейти в бота</button>
                    <div id="result"></div>
                </div>
            </div>
        </div>
    </div>
    
    

    <script>
        if (document.referrer !== 'https://special-upward-shark.ngrok-free.app/welcome.html') {
                window.location = "https://special-upward-shark.ngrok-free.app/welcome.html";
            }
        document.getElementById('redirectBot').addEventListener('click', async () => {
            window.location.href = "https://t.me/Worldwide_Success_Bot?start"
        });

        let shadow = document.querySelector("#shadow");

const mouse_shadow = function(event) {
  shadow.style.top = event.pageY + 'px';
  shadow.style.left = event.pageX + 'px';
}

document.querySelector("body").onload = function() {
  this.addEventListener("mousemove", mouse_shadow)
}

        document.getElementById('checkButton').addEventListener('click', async () => {
            const code = document.getElementById('codeInput').value;
            const userId = localStorage.getItem('userId'); // Получаем userId из localStorage

            const response = await fetch('/check-code', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ code, userId }), // Отправляем код и userId
            });

            const resultDiv = document.getElementById('result');
            if (response.ok) {
                const data = await response.json(); // Получаем данные из ответа
    resultDiv.textContent = 'Код действителен! Доступ разрешен.';
    localStorage.setItem('responseData', JSON.stringify(data));
                setTimeout(() => 
                window.location.href = "/loading.html"
            , 3000);
            } else {
                const data = await response.json();
    resultDiv.textContent = data.message || 'Код недействителен. Доступ запрещен.';
    localStorage.setItem('responseData', JSON.stringify(data)); // Сохраняем сообщение об ошибке
            }
        });
</script>
        <script async src="https://telegram.org/js/telegram-widget.js?22" data-telegram-login="Worldwide_Success_Bot" data-size="large" data-onauth="onTelegramAuth(user)" data-request-access="write"></script>
        <script type="text/javascript">
            function onTelegramAuth(user) {
                alert('Вы уже зашли, как пользователь: ' + user.first_name + ' ' + user.last_name + ' I I ' + '@' + user.username);
                localStorage.setItem('userId', user.id); // Сохраняем userId в localStorage
                document.getElementById('telegram-login-Worldwide_Success_Bot').style.display = 'none'; // Скрываем iframe
            }
        </script>
</body>
</html>