@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&display=swap');

        * {
            margin: 0;
            text-decoration: none;
            font-family: "Inter Tight", sans-serif;
        }

        body {        
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        header {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 300px;
            background: url("/images/mountains.png");
            background-size: cover;
        }
        
        .header-absolute {
            position: absolute;
            top: 25px;
            left: 21px;
        }
        
        .header-absolute-text {
            font-family: "Kantumruy Pro", serif;
            font-weight: 400;
            font-size: 40px;
            color: rgba(255, 255, 255, 0.801);
        }
        
        .header-content {
            position: absolute;
            top: 17%;
            left: 30%;
        }
        
        .header-content-text {
            font-family: "Roboto Slab", serif;
            font-weight: 400;
            font-size: 58px;
            color: white;
        }
        
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            top: 30%;
            left: 30%;
            color: white;
            max-width: 600px;
            margin: auto;
            background: white;
            padding: 20px;
            border-radius: 15px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            min-width: 500px;
        }

        .input-group {
            display: flex;
            align-items: flex-start;
        }

        .input-group, input {
            width: 100%;
        }
        
        .container > h1 {
            padding: 10px 0;
            font-family: "Josefin Sans", serif;
            font-weight: 400;
            font-size: 20px;
            color: black;
        }
        
        .container > input {
            border: solid 1px gray;
        }
        
        
        
        
        
        
        .navbar {
            position: fixed;
            left: 0;
            top: 25%;
            height: 500px;
            width: 60px;
            background-color: #fff;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: width 0.3s ease;
            overflow: hidden;
            border-radius: 20px;
          }
          
          .navbar:hover {
            width: 100px;
          }
          
          .navbar ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          
          .navbar li {
            margin: 20px 0;
          }
          
          .navbar a {
            text-decoration: none;
            color: #333;
            display: flex;
            align-items: center;
            transition: transform 0.3s ease;
          }
          
          .navbar a:hover {
            transform: scale(1.1);
          }
          
          .navbar img {
            width: 30px;
            height: 30px;
            transition: transform 0.3s ease;
          }
          
          .navbar:hover img {
            transform: rotate(360deg);
          }
          
          /* Адаптивность */
          @media (max-width: 768px) {
            .navbar {
              width: 50px;
            }
          
            .navbar:hover {
              width: 150px;
            }
          
            .navbar img {
              width: 25px;
              height: 25px;
            }
          }
        

        h1 {
            text-align: center;
            color: #333;
        }

        .input-group {
            margin-bottom: 15px;
        }

        input[type="text"], input[type="url"], textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        button {
            width: 100%;
            cursor: pointer;
            background-color: black;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 5px 10px;
            transition: all .5s ease;
            margin: 10px 5px;
        }

        button:hover {
            color: black;
            background-color: white;
            border: 3px solid black;
            padding: 10px 15px;
            box-shadow: 6px 6px 13px -2px rgba(142, 147, 151, 0.6);
        }

        .post {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin-top: 10px;
        }

        .post h3 {
            margin: 0;
        }

        .post img {
            max-width: 100%;
            height: auto;
            border-radius: 5px;
        }

        .post a {
            color: #007aff;
            text-decoration: none;
        }

        .post a:hover {
            text-decoration: underline;
        }

        .delete-button {
            background-color: #ff3b30;
            border: none;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            padding: 5px 10px;
            margin-top: 10px;
        }

        .delete-button:hover {
            background-color: #c72c2e;
        }



@media (min-width:320px) and (max-width: 720px) {
    .container {
        width: 100%;
    }
}

@media screen and (orientation:landscape) {
    body {
        background-size: 150%;
        background-repeat: no-repeat;
    }
}

@media screen and (orientation:portrait) {
    body {
        background-size: 150rem;
        background-repeat: no-repeat;
    }
}
