@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    font-family: "Inter Tight", sans-serif;
}
body {
    background: linear-gradient(90deg, #ffffff, #d9d9d9, #bababa, #7d7d7d);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    transform: translate3d(0, 0, 0);
    overflow: hidden; /* Скрываем скроллбар */ 
    height: 100vh; /* Занимает всю высоту экрана */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Размещаем элементы по вертикали */
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем содержимое по горизонтали */
    position: relative; /* Это обязательно для анимации */
    transition: transform 0.5s; /* Плавный переход */
    transform: translateX(-100vw); /* Начальная позиция за пределами экрана слева */
}

#warning {
    display: none;
    align-items: center;
    position: relative;
    max-width: 300px;
    max-height: 300px;
}

#thanks {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 400px;
    max-height: 400px;
}

#hand {
    width: 250px;
    height: 250px;
}

@keyframes gradient {
0% {
background-position: 0% 50%;
}
50% {
background-position: 100% 50%;
}
100% {
background-position: 0% 50%;
}
}